#Magento
/app/etc/local.xml
/downloader/
/var/
/media/
maintenance.flag
togglehints.php
.sass-cache

#Magmi
/import/magmi/conf/magmi.ini
/import/magmi/conf/magmi.ini.default
/import/magmi/conf/plugins.conf
/import/magmi/conf/__utilities__
/import/magmi/state/
/import/magmi/plugins/base/datasource/
/import/magmi/shell/log/
/import/magmi/web/.htaccess
/import/magmi/auth/
/import/magmi/var/

#WordPress
/content/wp-content/uploads
/content/wp-config.php.local
